.container{
    background: #040122;
}

.content {
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    padding-top: 40px;
    padding-inline: 90px;
    max-width: 1440px; // deixa o texto num tamanho maximo fixo
    margin-inline: auto; // deixa a margin da esquerda e direita igual

    @media screen and (max-width: 1000px) {
        padding-inline: 20px;
    }

}

.top {
    display: flex;
    align-items: center; 

    @media screen and (max-width: 1000px) {
        gap: 30px;
    }
}

.leftSide{
    color: #fff;
    position: relative;
    text-align: left;
    width: 100%;
    padding-bottom: 30px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -65%);
        background-image: url('/seven.svg');
        background-size: 300px 300px;
        background-repeat: no-repeat;
        width: 100%;
        height: 160%;
        z-index: 1;
    }

}

.leftSideContent{
    position: relative;
    z-index: 2;

    h5 {
        color: #fff;
        font-family: Syne;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 51.2px;
        text-transform: uppercase;
    }

    .stars {
        display: flex;
        
        img {
            margin-inline: 2px;
            width: 20px;
            height: auto;
        }
    }
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
        padding-bottom: 0px;
    }

    font-family: Syne;
    font-size: 32px;
    font-size: 22;

    h5 {
        color: #fff;
        font-family: Syne;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 51.2px;

        @media screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 45.2px;
        }
    }

    p {
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.8px;
    }

    span {
        position: relative;
        display: inline;
        background: linear-gradient(
            270deg,
            #00c2ff,
            #33ff8c,
            #ffc640,
            #e54cff,
            #00c2ff,
            #33ff8c
        );
        background-size: 600% auto;
        color: transparent;
        background-clip: text;
        animation: shift 5s linear infinite;
    }

}

.bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 87px;
}

.info{
    display: flex;
    gap: 15px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;

        h5 {
            color: #fff;
            font-family: Syne;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 35.2px;
    
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }

        p {
            color: #fff;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 28.8px;
        }

    }

}

@keyframes shift {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}